[submodule "demo/c/dr_libs"]
	path = demo/c/dr_libs
	url = https://github.com/mackron/dr_libs.git
[submodule "demo/c/pvrecorder"]
	path = demo/c/pvrecorder
	url = https://github.com/Picovoice/pvrecorder.git
