*.DS_Store
.idea/
*.pyc
/binding/dotnet/*/bin/
/binding/dotnet/*/obj/
demo/ios/PorcupineDemoNoWatch.xcodeproj/xcshareddata/
.vs/
_ReSharper.Caches/
build
dist
pvporcupine.egg-info
demo/c/cmake-build-debug/