demo/** linguist-detectable=false
lib/** linguist-detectable=false
resources/** linguist-detectable=false

binding/java/** linguist-detectable=false
binding/angular/** linguist-detectable=false
binding/web/** linguist-detectable=false
binding/vue/** linguist-detectable=false
binding/react-native/** linguist-detectable=false
binding/nodejs/** linguist-detectable=false
binding/flutter/android/** linguist-detectable=false
binding/flutter/ios/** linguist-detectable=false
binding/unity/** linguist-detectable=false
*.py linguist-detectable=true
