[submodule "binding/unity/Assets/Porcupine/VoiceProcessor"]
	path = binding/unity/Assets/Porcupine/VoiceProcessor
	url = ../unity-voice-processor.git
[submodule "demo/c/dr_libs"]
	path = demo/c/dr_libs
	url = ../../mackron/dr_libs.git
[submodule "demo/c/pvrecorder"]
	path = demo/c/pvrecorder
	url = ../pvrecorder.git
