demo/** linguist-detectable=false
lib/** linguist-detectable=false
resources/** linguist-detectable=false

binding/android/** linguist-detectable=false
binding/dotnet/PorcupineTest/** linguist-detectable=false
binding/flutter/android/** linguist-detectable=false
binding/flutter/ios/** linguist-detectable=false
binding/go/porcupine_test.go linguist-detectable=false
binding/ios/PorcupineAppTest/** linguist-detectable=false
binding/java/src/ai/picovoice/porcupine/exception/** linguist-detectable=false
binding/java/test/** linguist-detectable=false
binding/node/test/** linguist-detectable=false
binding/react/** linguist-detectable=false
binding/react-native/** linguist-detectable=false
binding/unity/** linguist-detectable=false
binding/web/** linguist-detectable=false

*.py linguist-detectable=true
