<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>UIBackgroundModes</key>
	<array>
		<string>bluetooth-peripheral</string>
		<string>audio</string>
		<string>fetch</string>
		<string>processing</string>
		<string>external-accessory</string>
		<string>push-to-talk</string>
		<string>location</string>
		<string>remote-notification</string>
		<string>bluetooth-central</string>
		<string>nearby-interaction</string>
		<string>voip</string>
	</array>
</dict>
</plist>
