*.iml
.gradle
/local.properties
/.idea/
.DS_Store
/build
/captures
.externalNativeBuild
release
porcupine.jks
private_key.pepk
upload_certificate.pem
test_resources
*.pv
*.ppn
*.wav

*.jks
!.dummy.jks