.voice-widget {
  button {
    padding: 1rem;
    font-size: 1.5rem;
    margin-right: 1rem;
  }

  .start-button {
    padding: 0.1rem;
    font-size: 1rem;
    margin-left: 0.5rem;
  }
  
  border: 2px double #377dff;
  padding: 2rem;

  .error-message {
    background-color: maroon;
    color: white;
    padding: 1rem;
    border-left: 5px solid red;
    font-family: monospace;
    font-weight: bold;
    font-size: 1.5rem;
  }

  overflow: hidden;
  text-overflow: ellipsis;
}
