<div class="voice-widget">
  <h1>VoiceWidget</h1>
  <h3>
    <label>
      AccessKey obtained from
      <a href="https://picovoice.ai/console/">Picovoice Console</a>:
      <input
        type="text"
        name="accessKey"
        [disabled]="isLoaded"
        #accessKey
      />
    </label>
    <button class="start-button" (click)="initEngine(accessKey.value)" [disabled]="isLoaded">
      Start Porcupine
    </button>
  </h3>
  <h3>Porcupine Loaded: {{ isLoaded }}</h3>
  <h3>Listening: {{ isListening }}</h3>
  <h3>Error: {{ error !== null }}</h3>

  <p class="error-message" *ngIf="error !== null">{{ error.toString() }}</p>

  <h3>Keywords: Alexa, Porcupine</h3>
  <br />
  <button (click)="start()" [disabled]="error || !isLoaded || isListening">Start</button>
  <button (click)="stop()" [disabled]="error || !isLoaded || !isListening">Stop</button>
  <button (click)="release()" [disabled]="error || !isLoaded">Release</button>
  <h3>Keyword Detections (listening for "Alexa, Porcupine"):</h3>
  <ul>
    <li *ngFor="let keywordLabel of detections">"{{ keywordLabel }}"</li>
  </ul>
</div>
