name: Angular Demos

on:
  workflow_dispatch:
  push:
    branches: [ master ]
    paths:
      - 'demo/angular/**'
      - 'demo/angular-stt/**'
      - '!demo/angular/README.md'
      - '!demo/angular-stt/README.md'
      - '.github/workflows/angular-demos.yml'
  pull_request:
    branches: [ master, 'v[0-9]+.[0-9]+' ]
    paths:
      - 'demo/angular/**'
      - 'demo/angular-stt/**'
      - '!demo/angular/README.md'
      - '!demo/angular-stt/README.md'
      - '.github/workflows/angular-demos.yml'

defaults:
  run:
    working-directory: demo/angular

jobs:
  build-demos:
    runs-on: ubuntu-latest

    strategy:
      matrix:
        node-version: [14.x, 16.x, 18.x, 20.x]

    steps:
    - uses: actions/checkout@v3

    - name: Set up Node.js ${{ matrix.node-version }}
      uses: actions/setup-node@v3
      with:
        node-version: ${{ matrix.node-version }}

    - name: Pre-build dependencies
      run: npm install yarn

    - name: Install dependencies
      run: yarn install

    - name: Build
      run: yarn build en

    - name: Build another language
      run: yarn build ja
  
  build-stt-demo:
    runs-on: ubuntu-latest
    defaults:
      run:
        working-directory: demo/angular-stt

    steps:
    - uses: actions/checkout@v3

    - name: Set up Node.js LTS
      uses: actions/setup-node@v3
      with:
        node-version: lts/*

    - name: Pre-build dependencies
      run: npm install yarn

    - name: Install dependencies
      run: yarn install

    - name: Build
      run: yarn build
