name: C Demos

on:
  workflow_dispatch:
  push:
    branches: [ master ]
    paths:
      - 'demo/c/**'
      - '!demo/c/README.md'
      - '.github/workflows/c-demos.yml'
  pull_request:
    branches: [ master ]
    paths:
      - 'demo/c/**'
      - '!demo/c/README.md'
      - '.github/workflows/c-demos.yml'


defaults:
  run:
    working-directory: demo/c

jobs:
  build-micdemo-github-hosted:
    runs-on: ${{ matrix.os }}

    strategy:
      matrix:
        os: [ubuntu-latest, windows-latest, macos-latest]

    steps:
    - uses: actions/checkout@v2
      with:
        submodules: recursive

    - name: Create build directory
      run: cmake -B ./build

    - name: Build micdemo
      run: cmake --build ./build --target porcupine_demo_mic
  
  build-micdemo-self-hosted:
    runs-on: ${{ matrix.machine }}

    strategy:
      matrix:
        machine: [rpi2, rpi3-32, rpi3-64, rpi4-32, rpi4-64, jetson, beaglebone]

    steps:
    - uses: actions/checkout@v2
      with:
        submodules: recursive

    - name: Create build directory
      run: cmake -B ./build

    - name: Build micdemo
      run: cmake --build ./build --target porcupine_demo_mic

  build-filedemo-github-hosted:
    runs-on: ${{ matrix.os }}

    strategy:
      matrix:
        os: [ubuntu-latest, windows-latest, macos-latest]
        include:
        - os: ubuntu-latest
          platform: linux
          arch: x86_64
          ext: so
          threshold: 0.2
        - os: windows-latest
          platform: windows
          arch: amd64
          ext: dll
          threshold: 0.25
        - os: macos-latest
          platform: mac
          arch: x86_64
          ext: dylib
          threshold: 0.3

    steps:
    - uses: actions/checkout@v2
      with:
        submodules: recursive

    - name: Create build directory
      run: cmake -B ./build

    - name: Build filedemo
      run: cmake --build ./build --target porcupine_demo_file
    
    - uses: ./.github/actions/c-filedemo
      name: Run filedemo (en)
      with:
        access_key: ${{ secrets.PV_VALID_ACCESS_KEY }}
        library_path: ../../lib/${{ matrix.platform }}/${{ matrix.arch }}/libpv_porcupine.${{ matrix.ext }}
        model_path: ../../lib/common/porcupine_params.pv
        keyword_path: ../../resources/keyword_files/${{ matrix.platform }}/porcupine_${{ matrix.platform }}.ppn
        audio_path: ../../resources/audio_samples/multiple_keywords.wav
        threshold: ${{ matrix.threshold }}

    - uses: ./.github/actions/c-filedemo
      name: Run filedemo (de)
      with:
        access_key: ${{ secrets.PV_VALID_ACCESS_KEY }}
        library_path: ../../lib/${{ matrix.platform }}/${{ matrix.arch }}/libpv_porcupine.${{ matrix.ext }}
        model_path: ../../lib/common/porcupine_params_de.pv
        keyword_path: ../../resources/keyword_files_de/${{ matrix.platform }}/ananas_${{ matrix.platform }}.ppn
        audio_path: ../../resources/audio_samples/multiple_keywords_de.wav

    - uses: ./.github/actions/c-filedemo
      name: Run filedemo (es)
      with:
        access_key: ${{ secrets.PV_VALID_ACCESS_KEY }}
        library_path: ../../lib/${{ matrix.platform }}/${{ matrix.arch }}/libpv_porcupine.${{ matrix.ext }}
        model_path: ../../lib/common/porcupine_params_es.pv
        keyword_path: ../../resources/keyword_files_es/${{ matrix.platform }}/manzana_${{ matrix.platform }}.ppn
        audio_path: ../../resources/audio_samples/multiple_keywords_es.wav

    - uses: ./.github/actions/c-filedemo
      name: Run filedemo (fr)
      with:
        access_key: ${{ secrets.PV_VALID_ACCESS_KEY }}
        library_path: ../../lib/${{ matrix.platform }}/${{ matrix.arch }}/libpv_porcupine.${{ matrix.ext }}
        model_path: ../../lib/common/porcupine_params_fr.pv
        keyword_path: ../../resources/keyword_files_fr/${{ matrix.platform }}/framboise_${{ matrix.platform }}.ppn
        audio_path: ../../resources/audio_samples/multiple_keywords_fr.wav
  
  build-filedemo-self-hosted:
    runs-on: ${{ matrix.machine }}

    strategy:
      matrix:
        machine: [rpi2, rpi3-32, rpi3-64, rpi4-32, rpi4-64, jetson, beaglebone]
        include:
        - machine: rpi2
          platform: raspberry-pi
          arch: cortex-a7
          threshold: 5.5
        - machine: rpi3-32
          platform: raspberry-pi
          arch: cortex-a53
          threshold: 2.0
        - machine: rpi3-64
          platform: raspberry-pi
          arch: cortex-a53-aarch64
          threshold: 2.5
        - machine: rpi4-32
          platform: raspberry-pi
          arch: cortex-a72
          threshold: 1.25
        - machine: rpi4-64
          platform: raspberry-pi
          arch: cortex-a72-aarch64
          threshold: 1.25
        - machine: jetson
          platform: jetson
          arch: cortex-a57-aarch64
          threshold: 2.0
        - machine: beaglebone
          platform: beaglebone
          arch: ''
          threshold: 11.0

    steps:
    - uses: actions/checkout@v2
      with:
        submodules: recursive

    - name: Create build directory
      run: cmake -B ./build

    - name: Build filedemo
      run: cmake --build ./build --target porcupine_demo_file

    - uses: ./.github/actions/c-filedemo
      name: Run filedemo (en)
      with:
        access_key: ${{ secrets.PV_VALID_ACCESS_KEY }}
        library_path: ../../lib/${{ matrix.platform }}/${{ matrix.arch }}/libpv_porcupine.so
        model_path: ../../lib/common/porcupine_params.pv
        keyword_path: ../../resources/keyword_files/${{ matrix.platform }}/porcupine_${{ matrix.platform }}.ppn
        audio_path: ../../resources/audio_samples/multiple_keywords.wav
        threshold: ${{ matrix.threshold }}

    - uses: ./.github/actions/c-filedemo
      name: Run filedemo (de)
      with:
        access_key: ${{ secrets.PV_VALID_ACCESS_KEY }}
        library_path: ../../lib/${{ matrix.platform }}/${{ matrix.arch }}/libpv_porcupine.so
        model_path: ../../lib/common/porcupine_params_de.pv
        keyword_path: ../../resources/keyword_files_de/${{ matrix.platform }}/ananas_${{ matrix.platform }}.ppn
        audio_path: ../../resources/audio_samples/multiple_keywords_de.wav

    - uses: ./.github/actions/c-filedemo
      name: Run filedemo (es)
      with:
        access_key: ${{ secrets.PV_VALID_ACCESS_KEY }}
        library_path: ../../lib/${{ matrix.platform }}/${{ matrix.arch }}/libpv_porcupine.so
        model_path: ../../lib/common/porcupine_params_es.pv
        keyword_path: ../../resources/keyword_files_es/${{ matrix.platform }}/manzana_${{ matrix.platform }}.ppn
        audio_path: ../../resources/audio_samples/multiple_keywords_es.wav

    - uses: ./.github/actions/c-filedemo
      name: Run filedemo (fr)
      with:
        access_key: ${{ secrets.PV_VALID_ACCESS_KEY }}
        library_path: ../../lib/${{ matrix.platform }}/${{ matrix.arch }}/libpv_porcupine.so
        model_path: ../../lib/common/porcupine_params_fr.pv
        keyword_path: ../../resources/keyword_files_fr/${{ matrix.platform }}/framboise_${{ matrix.platform }}.ppn
        audio_path: ../../resources/audio_samples/multiple_keywords_fr.wav

    - uses: ./.github/actions/c-filedemo
      name: Run the demo with a non ascii wake word file
      with:
        access_key: ${{ secrets.PV_VALID_ACCESS_KEY }}
        library_path: ../../lib/${{ matrix.platform }}/${{ matrix.arch }}/libpv_porcupine.so
        model_path: ../../lib/common/porcupine_params_es.pv
        keyword_path: ../../resources/keyword_files_es/${{ matrix.platform }}/murciélago_${{ matrix.platform }}.ppn
        audio_path: ../../resources/audio_samples/murciélago.wav