name: .NET

on:
  push:
    branches: [ master, v2.0 ]
    paths: 
      - 'binding/dotnet/**'
      - 'lib/beaglebone/**'
      - 'lib/linux/**'
      - 'lib/jetson/**'
      - 'lib/mac/**'
      - 'lib/raspberry-pi/**'
      - 'lib/windows/**'
      - '!binding/dotnet/README.md'
  pull_request:
    branches: [ master, v2.0 ]
    paths: 
      - 'binding/dotnet/**'
      - 'lib/beaglebone/**'
      - 'lib/linux/**'
      - 'lib/jetson/**'
      - 'lib/mac/**'
      - 'lib/raspberry-pi/**'
      - 'lib/windows/**'
      - '!binding/dotnet/README.md'

defaults:
  run:
    working-directory: binding/dotnet

jobs:
  build:
    runs-on: ubuntu-latest

    steps:
    - uses: actions/checkout@v2

    - name: Setup .NET
      uses: actions/setup-dotnet@v1
      with:
        dotnet-version: 3.1.x

    - name: Restore dependencies
      run: dotnet restore    

    - name: Build
      run: dotnet build --no-restore      

    - name: Test
      run: dotnet test -- "TestRunParameters.Parameter(name=\"pvTestAccessKey\", value=\"${{secrets.PV_VALID_ACCESS_KEY}}\")"
