name: Flutter Tests

on:
  workflow_dispatch:
  push:
    branches: [ master ]
    paths:
      - '.github/workflows/flutter.yml'
      - 'demo/flutter/pubspec.yaml'
      - 'lib/common/**'
      - 'resources/.test/**'
      - 'resources/audio_samples/**'
      - 'resources/keyword_files*/android/**'
      - 'resources/keyword_files*/ios/**'
  pull_request:
    branches: [ master, 'v[0-9]+.[0-9]+' ]
    paths:
      - '.github/workflows/flutter.yml'
      - 'demo/flutter/pubspec.yaml'
      - 'lib/common/**'
      - 'resources/.test/**'
      - 'resources/audio_samples/**'
      - 'resources/keyword_files*/android/**'
      - 'resources/keyword_files*/ios/**'

defaults:
  run:
    working-directory: demo/flutter

jobs:
  test-android:
    name: Test Android
    runs-on: pv-android

    steps:
    - uses: actions/checkout@v3

# ************** REMOVE AFTER RELEASE ********************
    - name: Set up Java 11
      uses: actions/setup-java@v3
      with:
        java-version: 11
        distribution: 'temurin'

    - name: Build binding
      run: ./gradlew assembleRelease --info
      working-directory: binding/android/Porcupine

    - name: Publish to Local Maven
      run: ./gradlew publishToMavenLocal
      working-directory: binding/android/Porcupine

    - name: Set up Java 17
      uses: actions/setup-java@v3
      with:
        java-version: 17
        distribution: 'temurin'

# ************** REMOVE AFTER RELEASE ********************

    - name: Copy test_resources
      run: ./copy_test_resources.sh

    - name: Inject AccessKey
      run: sed -i 's:{TESTING_ACCESS_KEY_HERE}:${{secrets.PV_VALID_ACCESS_KEY}}:'
        integration_test/app_test.dart

    - name: Inject device
      run: sed -i 's:{TESTING_DEVICE_HERE}:cpu\:1:'
        integration_test/app_test.dart

    - name: Install Flutter 3.35.0
      run: |
        fvm install 3.35.0
        fvm use 3.35.0

    - name: Install dependencies
      run: fvm flutter pub get

    - name: Prepare demo
      run: fvm dart scripts/prepare_demo.dart en

    - name: Run integration tests
      run: fvm flutter test integration_test

  test-ios:
    name: Test iOS
    runs-on: pv-ios

    steps:
    - uses: actions/checkout@v3

    - name: Copy test_resources
      run: ./copy_test_resources.sh

    - name: Inject AccessKey
      run: sed -i '.bak' 's:{TESTING_ACCESS_KEY_HERE}:${{secrets.PV_VALID_ACCESS_KEY}}:'
        integration_test/app_test.dart

    - name: Inject Device
      run: sed -i '.bak' 's:{TESTING_DEVICE_HERE}:cpu\:1:'
        integration_test/app_test.dart

    - name: Install Flutter 3.35.0
      run: |
        fvm install 3.35.0
        fvm use 3.35.0

    - name: Install dependencies
      run: fvm flutter pub get

    - name: Prepare demo
      run: fvm dart scripts/prepare_demo.dart en

    - name: Run integration tests
      run: fvm flutter test integration_test
