name: Go

on:
  workflow_dispatch:
  push:
    branches: [ master ]
    paths:
      - 'binding/go/**'
      - '!binding/go/README.md'
      - 'lib/beaglebone/**'
      - 'lib/common/**'
      - 'lib/linux/**'
      - 'lib/jetson/**'
      - 'lib/mac/**'
      - 'lib/raspberry-pi/**'
      - 'lib/windows/**'
      - 'resources/audio_samples/**'
      - 'resources/keyword_files*/beaglebone/**'
      - 'resources/keyword_files*/jetson/**'
      - 'resources/keyword_files*/linux/**'
      - 'resources/keyword_files*/mac/**'
      - 'resources/keyword_files*/raspberry-pi/**'
      - 'resources/keyword_files*/windows/**'
      - 'resources/test/**'
      - '.github/workflows/go.yml'
  pull_request:
    branches: [ master ]
    paths:
      - 'binding/go/**'
      - '!binding/go/README.md'
      - 'lib/beaglebone/**'
      - 'lib/common/**'
      - 'lib/linux/**'
      - 'lib/jetson/**'
      - 'lib/mac/**'
      - 'lib/raspberry-pi/**'
      - 'lib/windows/**'
      - 'resources/audio_samples/**'
      - 'resources/keyword_files*/beaglebone/**'
      - 'resources/keyword_files*/jetson/**'
      - 'resources/keyword_files*/linux/**'
      - 'resources/keyword_files*/mac/**'
      - 'resources/keyword_files*/raspberry-pi/**'
      - 'resources/keyword_files*/windows/**'
      - 'resources/test/**'
      - '.github/workflows/go.yml'

defaults:
  run:
    working-directory: binding/go

jobs:
  build-github-hosted:
    runs-on: ${{ matrix.os }}

    strategy:
      matrix:
        os: [ubuntu-latest, windows-latest, macos-latest]
        go: [ '1.16', '1.17', '1.18' ]

    steps:
    - uses: actions/checkout@v2

    - name: Setup go
      uses: actions/setup-go@v1
      with:
        go-version: ${{ matrix.go }}

    - name: Pre-build dependencies
      run: ./copy.sh

    - name: Install dependencies
      run: go get

    - name: Build
      run: go build

    - name: Test
      run: go test -v -access_key ${{secrets.PV_VALID_ACCESS_KEY}}

  build-self-hosted:
    runs-on: ${{ matrix.machine }}

    strategy:
      matrix:
        machine: [rpi2, rpi3-32, rpi3-64, rpi4-32, rpi4-64, jetson, beaglebone]

    steps:
    - uses: actions/checkout@v2

    - name: Pre-build dependencies
      run: ./copy.sh

    - name: Install dependencies
      run: go get

    - name: Build
      run: go build

    - name: Test
      run: go test -v -access_key ${{secrets.PV_VALID_ACCESS_KEY}}
